# transformers==4.39.3
# accelerate==0.27.2
# tokenizers==0.15.2
# huggingface_hub==0.36.2
# pandas==2.3.3
# numpy==2.2.6
# sacrebleu==2.6.0
# sacremoses==0.1.1
# sentencepiece==0.2.1
# setuptools==68.2.2
# git+https://github.com/VarunGumma/indic_nlp_library@1babb53ca83cec3d71bd68b09937421d90ccb071
# git+https://github.com/vinodpandey/IndicTransTokenizer@18b7c5b1683355fb5487ff93dbedbca8b56be0cf


poetry
setuptools<82.0.0
git+https://github.com/VarunGumma/indic_nlp_library.git
git+https://github.com/vinodpandey/IndicTransTokenizer.git
transformers==4.39.3
accelerate==0.27.2
tokenizers==0.15.2
huggingface_hub==0.36.2
sacrebleu==2.6.0
sacremoses==0.1.1
sentencepiece==0.2.1
pandas
numpy
peft
bitsandbytes